body {
  margin: 0;
  font-family: -apple-system,
              blinkMacSystemFont,
              'Helvetica Neue',
              'Segoe UI',
              'Yu Gothic',
              YuGothic,
              Meiryo,
              sans-serif;
}

.navbar-brand:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  z-index: -10;
  border-right: 30px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 500px solid #4c88f8;
}

.navbar-brand {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 240px;
}

.navbar-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  background-color: rgb(121, 197, 255);
  top: 0%;
  width: 100%;
  height: 4.2rem;
}

ul.navbar-right-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
ul.navbar-right-links li a{
  margin-right: 3rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}
ul.navbar-right-links li:hover a{
  color: white;
  border-bottom: solid 2px white;
}
ul.navbar-right-links li.active a {
  color: white;
}

.prof {
  margin-top: 300px;
}

table.prof-table th {
  text-align: left;
  vertical-align: top;
  max-width: 500px;
}

.debug {
  display: none;
}

#portrait_canvas {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.hero-img {
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#hero-main {
  background-image: url(../img/main_bg.png);
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}
